<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wakeradio client page</title>
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
  
  

</head>
<body  ng-app="wakeradio" ng-controller="EventController">

<!--//audiobuffer-->
<button onclick="sound()">click</button>

<h3>Time</h3>
<p id="ct"></p>

<hr>

<form name="myForm" >

<h3>New alarm</h3>
<label>
  <input type="number" ng-model="alrm.hour">hour (0-23)
</label>
<label>
  <input type="number" ng-model="alrm.min">min (0-59)
</label><br/>
<label >Ramp
  <input type="checkbox" ng-model="alrm.volRamp" ng-init="checked=true"><br/>
</label>
<br/>



<div ng-init="alrm.repeat=false">
   <label>Repeat:
      <input type="checkbox" ng-model="alrm.repeat" >
    </label>

    <table class="table" ng-show="alrm.repeat">
    <tr ng-repeat="(key,weekday) in weekdays">
    <td> 
      <input type="checkbox" ng-model="weekdays[key].selected" ng-click="toggleSelection(weekdays[key].index)">
      <label>{{weekdays[key].weekday}}</label>
    </td>
  </tr>
  </table>
</div> 

<div class="btn-group input-group" role="group" aria-label="..." style="padding-top : 15px">
  <input type="button" class="btn btn-info" ng-click="svAlrm()" value="Save alarm"/>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
      {{alrm.rdStSel.rdSt}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" >
      <li ng-repeat="rdSt in rdStObj" ng-click="rdStSelFunction($index)"><a href="#">{{rdSt.rdSt}}</a></li>
    </ul>
  </div>
</div>

<hr>

<h3>Player controls</h3>
<div class="btn-group input-group" role="group" aria-label="...">
  <input type="button" class="btn btn-success" ng-click="playBtn()" value="Play "></input>
  <input type="button" class="btn btn-warning" ng-click="pause()" value="Pause music"></input>
  <input type="range" id="btnVol" ng-init="0.8" min="0" max="1" step="0.01" ng-model="volume"></input>
  <!--input type="button" class="btn btn-success" ng-click="volDown()" value="-"/>
  <input type="button" class="btn btn-success" ng-click="volUp()" value="+"/-->
  
</div>

<div class="input-group " role="group" aria-label="...">

<p style="padding-top : 15px">Current radio station: {{alrm.rdStSel.rdSt}}</p>
<p>Volume: {{volume}}</p>
</div>









 </form>

<hr>
<h3>Saved alarms</h3>
<input type="button" class="btn btn-danger" ng-click="dltTbl()" value="Delete all alarms"/>

<table class="table">
<thead>
  <tr>
    <td>Time</td>
    <td>Days</td>
    <td>Stream</td>
    <td>On/off</td>
    <td>Delete</td>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="alarm in alarms">
  <td>{{alarm.time}}</td>
  <td>{{alarm.days}}</td>
  <td>{{alarm.rdSt}}</td>
  <td><button class="btn {{alarm.btnClass}}"   ng-click='toggleAlrm(alarm.key)'>{{alarm.toggle}}</button></td>
  <td><button class="btn btn-danger" ng-click='alrmDlt(alarm.key)'>Delete</button></td>
  </tr>
</tbody>
</table>



<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="assets/js/angular.js"></script>
<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/ws.js"></script>
<script src="assets/js/index.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>



</body>
</html>