<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Radio</title>
</head>
<body  ng-app="wakeradio" ng-controller="EventController" ng-init="">
<h1>RaspberryPI web radio</h1>
<p ng-model="volume">Volume: {{volume}}</p>
<audio controls loop  class="radio" id="player" src=""></audio>


<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="assets/js/angular.js"></script>
<script src="assets/js/radio.js"></script>


</body>
</html>